<div class="left">
  <div class="item" routerLink="add">
    <span class="fa fa-plus"></span>
    Dodaj
  </div>
  <div class="item" routerLink="manuallyAdd">
    <span class="fa fa-pencil"></span>
    Dodaj ręcznie
  </div>
  <div class="item">
    <span class="fa fa-film"></span>
    Filmy
  </div>
  <div class="item">
    <span class="fa fa-film"></span>
    Polskie filmy
  </div>
  <div class="item">
    <span class="fa fa-film"></span>
    Zagraniczne filmy
  </div>
  <div class="item">
    <span class="fa fa-television"></span>
    Seriale
  </div>
  <div class="item">
    <span class="fa fa-television"></span>
    Polskie seriale
  </div>
  <div class="item">
    <span class="fa fa-television"></span>
    Zagraniczne seriale
  </div>
</div>
