///* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background: white;
  height: 100vh;
}

#mainBody {
  /*
  display: grid;
  grid-template-columns: 50px auto;
  */
  display: flex;
  height: 100%;

  #content {
    /*
    padding: 30px 50px;
    */
    overflow: auto;
    /*
    text-align: center;
    */
  }
}

::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
